<h2>Log in to Onboard</h2>

<%= simple_form_for :session, url: session_path do |form| %>

	<%= form.input :username %>
	<%= form.input :password %>

	<%= form.button :submit, "Log in" %>

<% end %>

<p>
	<%= link_to "Log in with Facebook", "/auth/facebook", class: "button" %>
	<%= link_to "Log in with Twitter", "/auth/twitter", class: "button" %>
	<%= link_to "Log in with LinkedIn", "/auth/linkedin", class: "button" %>



</p>