<h2>Sign up</h2>

<%= simple_form_for @user do |form| %>

	<%= form.input :name %>
	<%= form.input :username %>
	<%= form.input :email %>
	<%= form.input :password %>
	<%= form.input :password_confirmation %>

	<%= form.button :submit %>

<% end %>

<p>
	<%= link_to "Log in with Facebook", "/auth/facebook", class: "button" %>
	<%= link_to "Log in with Twitter", "/auth/twitter", class: "button" %>
	<%= link_to "Log in with LinkedIn", "/auth/linkedin", class: "button" %>



</p>