<p>
	<%= image_tag @room.image(:large) %>

	<!-- this maybe necessary for pdf as opposed to images -->
	<%= link_to "Download", @room.image.url %>
</p>





<h2>
	<%= @room.name %>
</h2>

<%= simple_format @room.address %>


<p>
	There are <%= pluralize @room.number_of_beds, "bed" %>
</p>

<p>
	<%= @room.price_in_pence %> pence
</p>

<% if @room.user.present? %>
	<p>
		This room was posted by <%= @room.user.username %>
	</p>

<% end %>


<% if logged_in? and current_user == @room.user %>

<p>
	<%= link_to "Edit this room", edit_room_path(@room), class: "button" %>

	<%= link_to "Delete this room", room_path(@room), method: :delete,
	class: "button", confirm: "Are you sure?" %>
</p>

<% else %>

<p>
	<%= link_to "Book this room", new_room_order_path(@room),
		class: "button" %>
</p>

<% end %>