<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row">

      <div class="large-3 columns">
        <h1>
          <%= link_to "Onboard", root_path %>
        </h1>

        <ul class="side-nav">

          <% if logged_in? %>
            <li><%= current_user.name %></li>
            <li><%= link_to "Add a room", new_room_path %></li>
            <li>Log out</li>

          <% else %>

            <li><%= link_to "Sign up", new_user_path %></li>
            <li>Log in</li>


          <% end %>



        </ul>



      </div>  

      <div class="large-9 columns">
        <%= yield %>
      </div> 

     </div> 

    
    <%= javascript_include_tag "application" %>
  </body>
</html>